<h2>Modificación</h2>
<form id="formA" action="/modificacion" method="POST">
  <div class="form-floating">
    <input type="text" class="form-control" id="album" name="album" placeholder="Album">
    <label for="album">Album</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" id="genre" name="genre" placeholder="Género">
    <label for="genre">Género</label>
  </div>
  <div class="form-floating">
    <input type="text" class="form-control" id="year" name="year" placeholder="Año">
    <label for="year">Año</label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Modificar álbum</button>
</form>
